@use "../abstracts/palette.scss" as p;
@use "../base/animations.scss" as a;

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
    width: calc(100vw - 6rem);
    padding: 0.6rem 3rem;
    position: fixed;
    z-index: 5;
    background: p.$card-translucent;
    > a {
        @include a.animatable();
        color: p.$text-secondary;
    }
    > .activated {
        font-weight: 800;
    }
}