@use "../abstracts/palette.scss" as p;
@use "../base/animations.scss" as a;

.header {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    text-align: center;
    padding: 5rem 1rem;
}

.content {
    @include a.float-up();
    min-height: calc(100vh - 14.4rem);
    background: linear-gradient(45deg, p.$primary, p.$tertiary);
}

@media only screen and (orientation: portrait) {
    .content {
        padding: 1rem;
    }
}

@media only screen and (orientation: landscape) {
    .content {
        padding: 1rem 3rem;
    }
}