$primary: #346995;
$secondary: #E40066;
$tertiary: #03CEA4;
$accent: #EAC435;

$card: #FFFFFF;
$card-translucent: #FFFFFFAA;

$text-primary: #FFFFFF;
$text-secondary: #000000;
$text-accent: #346995;

$shadow: #000000AA;