$primary: #346995;
$secondary: #E40066;
$tertiary: #03CEA4;
$accent: #EAC435;
$card: #FFFFFF;

$field: #EEEEEE;
$field-focused: #346995;

$primary-translucent: #34699555;
$card-translucent: #FFFFFFAA;

$text-primary: #FFFFFF;
$text-secondary: #000000;
$text-accent: #346995;

$clicky-side: #BFBFBF;
$shadow: #000000AA;