@use "../base/animations.scss" as a;
@use "../abstracts/palette.scss" as p;

@mixin button($background, $color, $size) {
    width: fit-content;
    font-size: $size;
    font-weight: bold;
    padding: 0.4em 1.5em;
    border-radius: 1.3em;
    color: $color;
    background: $background;
    box-shadow: 0 0.25rem 0 #00000044;
}

@mixin clicky() {
    @include a.animatable();
    cursor: pointer;
    &:hover {
        opacity: 80%;
    }
    &:active {
        transition: none;
        box-shadow: 0 0 0 #00000044;
        transform: translateY(0.25rem);
    }
}