@use "../abstracts/palette.scss" as p;

$animation-speed: 0.25s;

@keyframes fade-in {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes float-up {
    0% {
        transform: translateY(0.5rem);
        opacity: 0%;
    }
    100% {
        transform: translateY(0);
        opacity: 100%;
    }
}

@keyframes float-down {
    0% {
        transform: translateY(-0.5rem);
        opacity: 0%;
    }
    100% {
        transform: translateY(0);
        opacity: 100%;
    }
}

@keyframes float-left {
    0% {
        transform: translateX(0.5rem);
        opacity: 0%;
    }
    100% {
        transform: translateX(0);
        opacity: 100%;
    }
}

@keyframes float-right {
    0% {
        transform: translateX(-0.5rem);
        opacity: 0%;
    }
    100% {
        transform: translateX(0);
        opacity: 100%;
    }
}

@keyframes float-down-up {
    0% {
        transform: translateY(-0.5rem) scale(0.8);
        opacity: 0%;
    }
    15% {
        transform: translateY(0) scale(1);
        opacity: 100%;
    }
    85% {
        transform: translateY(0) scale(1);
        opacity: 100%;
    }
    100% {
        transform: translateY(-0.5rem) scale(0.8);
        opacity: 0%;
    }
}

@mixin fade-in() {
    animation: fade-in $animation-speed 1;
}

@mixin float-up() {
    animation: float-up $animation-speed 1;
}

@mixin float-down() {
    animation: float-down $animation-speed 1;
}

@mixin float-left() {
    animation: float-left $animation-speed 1;
}

@mixin float-right() {
    animation: float-right $animation-speed 1;
}

@mixin float-down-up() {
    animation: float-down-up 2s 1;
}

@mixin animatable() {
    transition: all $animation-speed ease;
}

@mixin clicky() {
    @include animatable();
    cursor: pointer;
    &:hover {
        opacity: 80%;
    }
    &:active {
        transition: none;
        box-shadow: inset 0 0.2em 0.5em 0 p.$shadow;
        transform: translateY(0.1rem);
    }
}

@mixin clicky-no-shadow() {
    @include animatable();
    cursor: pointer;
    &:hover {
        opacity: 80%;
    }
    &:active {
        transition: none;
        transform: translateY(0.1rem);
    }
}

@mixin clicky-scale-up($scale) {
    @include animatable();
    cursor: pointer;
    &:hover {
        opacity: 80%;
        transform: scale($scale);
    }
    &:active {
        transition: none;
        box-shadow: inset 0 0.2em 0.5em 0 p.$shadow;
        transform: scale($scale) translateY(0.1rem);
    }
}