@use "../abstracts/palette.scss" as p;
@use "../base/animations.scss" as a;
@use "../components/button.scss" as cb;

:root {
    font-size: 24px;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

button {
    @include cb.clicky();
    font-size: 1rem;
    border: none;
}

input, textarea {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
}

input {
    padding: 0.5rem 1rem;
    border: none;
}

textarea {
    border: none;
    font-family: "Inter", sans-serif;
}

fieldset {
    border: none;
}

// Media queries
@media only screen and (orientation: portrait) {
    :root {
        font-size: 14px;
    }
}

@media only screen and (min-aspect-ratio: 16 / 7) {
    :root {
        font-size: 14px;
    }
}